.Body{
    background-color: peru;
    width: 100%;
    height:100%;
}

.Form{
    width: 50%;
    height:50%;
    background-color:white;
    align-items:center;
    position:relative;
    margin:100px auto;
    box-shadow:2px 2px 6px black;
    padding:16px 8px;
}


