form input[name="city"],
form input[name="country"] {
    background-color: #54bff5;
    color: white !important;
    border: 0;
    font-size:1.5em;
    border-bottom:2px solid black;
    border-radius: 0;
    font-weight:bold;
}

form input:focus{
    background-color: transparent !important;
    box-shadow:none !important;
}

input.form-control::placeholder {
    color:white;
    font-size:0.7em;
    font-weight: normal;
}
