.calendar-container-Month,
.calendar-Month,
.calendar-header-Month,
td,
tr {
    padding: 0;
    margin: 0;
    
}

.calendar-container-Month {
    outline:2px solid black;
    outline-offset: 1.5rem;
}

.calendar-Month {
    background-color: white;
    border-spacing: 0;
    border-collapse: collapse;
    width: 100%;
}

.calendar-header-Month {
    border-bottom: 1px dashed skyblue;
    font-size: 2.5em;
}

.displayfest{
    margin-right: 10rem;
    /* float:left; */
}

.calendar-header-Month td {
    border-spacing: 0;
    padding-left: 5px;
}

.day,
.empty-slot,
.week-day {
    width:2%;
    text-align: center;
    border:1px solid gray;
}

.week-day {
    font-size: 1em;
    text-decoration-line: underline;
    font-weight:bold;
    padding:2%;
}

.YearNav {
    float: left;
    color: #520352;
    font-weight:bold;
    text-decoration: underline;
    margin-bottom: 1rem;
}

.day {
    font-size: 0.8em;
    cursor: pointer;
    /* width: 24px;
    height: 24px;
    line-height: 24px; */
    padding:2%;
}

.sunday {
    background-color: #eef6f7;
    color:red;
}

.SundayHeadColor {
    color:red;
}

.festival {
    background-color: pink;
    color:black;
}

.current-day {
    background-color: #4285f4;
    /* width: 28px;
    height: 28px; */
    line-height: 28px;
    border-radius: 2%;
    color: white;
}
.selected-day {
    background-color:yellow;
    /* width: 28px;
    height: 28px; */
    line-height: 28px;
    border-radius: 2%;
    color: black;
}

.month-popup {
    position: absolute;
    z-index: 1;
    padding: 1rem;
    background: white;
    border: 2px solid skyblue;
}

.month-popup div {
    padding: 0.3em;
}

.nav-month {
    position: absolute;
    top: 0.6em;
    font-size: 0.6em;
    right:1.5rem;
    margin-left: 4rem;
    cursor:pointer;
}
.editor-year {
    max-width: 3.6em;
}

.label-month,
.label-year {
    font-size: 0.6em;
}

.label-month {
    cursor: pointer;
}
 
.monthName{
    background-color: lightgreen;
    font-weight:bold;
    color:black;
    padding:10%;
    display:inline-block;
    margin:0px;
    position:relative;
    left:0px;
}

.monthName:hover,
     .monthName:active,
     .monthName.active {
        background-color:white;
        border-bottom:0px;
        color:blue;
        width:100%;
    }
