.Content{
    z-index: 1; 
    position:absolute;
    color:darkred;
    font-size:4em;
    position:absolute;
    background-color:rgba(255,255,255,0.5);
    border:5px solid orangered;
    box-shadow: 2px 2px 4px goldenrod;
    left:75vh;
    top:20vh; 
    text-shadow: 2px 2px tomato;
    /* display:block; */
}

.Matter{
align-items: center;
position:relative;
/* left:50%;
top:40%; */
}

@media screen and (max-width: 600px) {
    .Content{
      font-size:1em;
      left:30vw;
      top:5vh;
      position:absolute;
    }
  }

  @media (min-width:600px) and (max-width: 1000px) {
    .Content{
      font-size:2em;
      left:35vw;
      top:6vh;
      position:absolute;
    }
  }

  @media (min-width: 1000px) and  (max-width: 1200px) {
    .Content{
      font-size:2em;
      left:37vw;
      top:8vh;
      position:absolute;
    }
  }

/*   
@media (min-width:1000px) and (min-height:700px){
    .Content{
        font-size:1em;
        left:75vh;
        top:20vh;
        position:absolute;
}} 

@media (min-width:500px) and (min-height:401px){
   
    .Content{
        font-size:1em;
        left:18vh;
        top:5vh;
        position:absolute;
}}

@media (min-width:500px) and (max-height:400px){
    .Content{
        font-size:1em;
        left:18vh;
        top:5vh;
        position:absolute; 
}}
*/